:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  display: block;
}

html {
  overflow-x: hidden;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #4d4303;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
button:hover {
  background-color: #e9e9e9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
